.screen {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  overflow: hidden;
}

.screen.sidebar {
  width: 25vw;
  height: 100vh;
  position: fixed;
  justify-content: space-around;
  left: 0;
  top: 0;
}

.name-container {
  display: grid;
  place-items: center;
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid white;
  width: 0;
  margin: 0 auto;
  animation: typing 4s steps(40) 1s 1 normal both,
  blink-caret .75s steps(1) infinite;
}

.sidebar > h1 {
  width: auto;
}

.btn-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transform: rotate(90deg);
}

.btn-toggle-close {
  position: absolute;
  top: 50vh;
  right: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;

}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .screen.sidebar {
    width: 100vw;
    height: 10vh;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: white;
  }
}

