<div class="screen" [ngClass]="{'sidebar': isSidebar}">
  <div class="name-container">
    <h1>{{isSidebar ? 'RICM' : 'Roger Israel Cabrera Muñoz'}}</h1>
  </div>
  <shared-sb-menu *ngIf="isSidebar"></shared-sb-menu>
  <div class="button-container">
    <button [ngClass]="{'btn-toggle': isSidebar,
            'btn-toggle-close': !isSidebar}"
            (click)="toggleSidebar()">
      {{ isSidebar ? '|||' : '<'}}
    </button>
  </div>
  <shared-social-networks></shared-social-networks>
</div>
