<my_web-header [description]="description" [title]="title"></my_web-header>
<div>
  <span>Te recomiendo ir a mi blog donde podrás encontrar distintas pildoras y enseñansas en mi blog </span><br>
  <a href="{{url}}" target="_blank">Ir al blog</a>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let item of pills">
    <div class="card">
      <img [src]="item.image" class="card-img-top" alt="{{ item.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>

