.about-me-container {
  width: 95%;
  margin: auto;
  padding: 20px;
}

.about-me-introduction,
.about-me-interests,
.about-me-closing {
  margin-bottom: 20px;
}

.about-me-introduction h2,
.about-me-interests h2,
.about-me-closing h2 {
  font-size: 1.3em;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.about-me-introduction p,
.about-me-interests p,
.about-me-closing p {
  font-size: 1em;
  color: #333;
  line-height: 1.5;
}

.about-me-interests p {
  list-style-type: none;
  padding: 0;
}

.about-me-interests p {
  margin-bottom: 10px;
}

p {
  color: #666;
  line-height: 1.5;
  font-family: 'Arial', sans-serif;
}
