.contact-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  /*background-image: url('ruta/a/tu/imagen/de/fondo.jpg');*/
  /*background-size: cover;*/
  background-color: black;
  border-radius: 10px;
}

.contact-title {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
}

button {
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
