.experience-container {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.experience-title {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.experience-image {
  object-fit: contain; /* Cambia 'cover' a 'contain' */
  border-radius: 10px;
  width: 100%;
  height: 200px; /* Establece una altura fija para la imagen */
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  width: 300px; /* Establece un ancho fijo para el card */
  height: 400px; /* Establece una altura fija para el card */
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* Establece un ancho fijo para el popup */
  height: 60%; /* Establece una altura fija para el popup */
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
